# Dependencies
node_modules/
.pnp
.pnp.js

# Production Build Output
dist/
dist-ssr/
build/
out/

# Environment Variables & Local Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & IDE Files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS & Temporary Files
.DS_Store
Thumbs.db
.tempmediaStorage/
.vercel/

# TypeScript Cache
*.tsbuildinfo
